@using PagedList;
@using PagedList.Mvc;
@*@model IEnumerable<QLRCP.Models.CinemaEtites.Movie>*@
@model PagedList.PagedList<QLRCP.Models.CinemaEtites.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
           Mô tả
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>

            <td>
                <img src="~/images/Film/@item.Image" width="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }


</table>
@*tạo liên kết các trang*@
@*Trang @Model.PageCount Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount ;*@

<div class="MenuTrang">
   
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
