@model QLRCP.Models.CinemaEtites.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
