@model QLRCP.Models.CinemaEtites.Cinema

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rạp Phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discriptiion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discriptiion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Trở về", "Index")
</p>
