@model IEnumerable<QLRCP.Models.CinemaEtites.Show>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cinema.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowDay.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTime.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cinema.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowDay.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTime.Id)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ID })      
        </td>
    </tr>
}

</table>
